<pihub-data-grid
	[rows]="rows()"
	[columns]="columns()"
	[(selectedIds)]="selectedIds"
	[selectEnabled]="true"
	[multiselectEnabled]="true"
>
	<ng-template columnTitle="Id" #column let-user> Id: {{ user.id }} </ng-template>

	<ng-template columnTitle="Name" #column let-user> Name: {{ user.name }} </ng-template>

	<ng-template columnTitle="Age" #column let-user> Age: {{ user.age }} </ng-template>

	<ng-template columnTitle="Status" #column let-selected="selected" let-hovered="hovered">
		Selected: {{ selected }} Hovered: {{ hovered }}
	</ng-template>
</pihub-data-grid>
