:host {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	position: relative;

	width: min-content;

	border-radius: 999px;

	transition: background-color 0.2s ease;

	&:not(.disabled) {
		cursor: pointer;
	}

	&.primary {
		&:not(.disabled) {
			background-color: var(--color-button-primary);

			&:hover {
				background-color: var(--color-button-primary-hover);
			}
		}

		&.disabled {
			background-color: var(--color-button-primary-disabled);
		}

		> .title {
			color: var(--color-button-primary-text);
		}
	}

	&.secondary {
		&:not(.disabled) {
			background-color: var(--color-button-secondary);

			&:hover {
				background-color: var(--color-button-secondary-hover);
			}

			> .title {
				color: var(--color-button-secondary-text);
			}
		}

		&.disabled {
			background-color: var(--color-button-secondary-disabled);

			> .title {
				color: var(--color-button-secondary-disabled-text);
			}
		}
	}

	&.tertiary {
		text-decoration: underline transparent;

		&:not(.disabled) {
			&:hover {
				text-decoration: underline var(--color-button-tertiary-text);

				transition: text-decoration 0.2s ease;
			}

			> .title {
				color: var(--color-button-tertiary-text);
			}
		}

		&.disabled {
			> .title {
				color: var(--color-button-tertiary-disabled-text);
			}
		}
	}

	&.small {
		padding: 6px 16.5px;

		&.has-icon {
			gap: 4px;
			padding: 6px 12px;
		}

		> .title {
			font-size: var(--size-text-12);
		}
	}

	&.medium {
		padding: 7px 19.25px;

		&.has-icon {
			gap: 5px;
			padding: 7px 14px;
		}

		> .title {
			font-size: var(--size-text-14);
		}
	}

	&.large {
		padding: 8px 22px;

		&.has-icon {
			gap: 6px;
			padding: 8px 16px;
		}

		> .title {
			font-size: var(--size-text-16);
		}
	}

	> .title {
		font-family: 'Satoshi-Medium';
		font-size: var(--size-text-14);

		transition: color 0.2s ease;

		user-select: none;

		white-space: nowrap;
	}

	> .icon {
		margin-top: -1px;
	}
}
