* {
	box-sizing: border-box;

	font-family: 'Satoshi-Medium';
}

ng-doc-api-list * {
	margin: revert;
	padding: revert;
}

:root {
	--ng-doc-app-max-width: 20000px;
	--ng-doc-navbar-background: var(--color-neutral-600);
}

ng-doc-demo-displayer,
ng-doc-demo {
	line-height: initial;
}

ng-doc-tab-routes-group {
	background-color: var(--ng-doc-base-0) !important;
}

::-webkit-scrollbar {
	display: none;
}

ng-doc-demo.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.color-table {
	tbody,
	tr,
	td,
	td:nth-child(2) > p {
		font-family: inherit;
	}
}

.color-token {
	width: 100%;
	height: 50px;

	border-radius: 10px;
}

.spacing-preview {
	background-color: var(--color-primary);
}
