@if (showHeader()) {
	<header>
		@if (isAnyRowSelected()) {
			<p></p>
		}

		@for (column of getColumnsToDisplay(); track column.title()) {
			<p>{{ column.title() }}</p>
		}
	</header>
}

<main [class.extra-padding]="isAnyRowSelected()">
	@for (row of getRows(); track row.id) {
		<section class="row" [class.isSelected]="isRowSelected(row.id)">
			<div class="checkbox-wrapper" [@checkboxFade]="getCheckboxAnimationState()">
				<pihub-checkbox [checked]="isRowSelected(row.id)" (checkboxClicked)="onRowClick(row.id)" />
			</div>

			<section
				class="columns"
				[style.grid-template-columns]="gridTemplateColumns()"
				(click)="onRowClick(row.id)"
				(mouseenter)="onRowMouseEnter(row.id)"
				(mouseleave)="onRowMouseLeave()"
			>
				@for (column of getColumnsToDisplay(); track column.title()) {
					<ng-container
						*ngTemplateOutlet="
							column.template;
							context: {
								$implicit: row,
								selected: isRowSelected(row.id),
								hovered: row.id === hoveredId(),
							}
						"
					/>
				}
			</section>
		</section>
	} @empty {
		<ng-container *ngTemplateOutlet="emptyTemplate()?.template ?? null"></ng-container>
	}
</main>

<footer [class.hidden]="!isAnyRowSelected()">
	<p>
		<span>{{ selectedIds().length }}</span> von {{ rows().length }} ausgewählt
	</p>
	<div class="actions">
		@for (action of bulkActions(); track action) {
			<pihub-icon
				[class.danger]="action.type === 'danger'"
				[icon]="action.icon"
				[color]="getBulkActionIconColor(action.type)"
				[hoverColor]="getBulkActionIconHoverColor(action.type)"
				size="22"
				(click)="action.callback()"
			/>
		}
	</div>
</footer>

@if (ctaActions().length > 0) {
	<div class="cta" [class.extra-padding]="isAnyRowSelected()">
		<div class="actions">
			@for (action of ctaActions(); track action) {
				<pihub-icon [icon]="action.icon" color="--color-text-secondary" size="20" (click)="action.callback()" />
			}
		</div>
		<pihub-icon [icon]="ICONS.plus" size="28" color="white" />
	</div>
}
