@if (showHeader()) {
	<header>
		@if (selectEnabled()) {
			<p></p>
		}

		@for (column of getColumnsToDisplay(); track column.title) {
			<p>{{ column.title() }}</p>
		}
	</header>
}

<main>
	@for (row of getRows(); track row.id) {
		<section class="row" [class.isSelected]="isRowSelected(row.id)">
			<div class="checkbox-wrapper">
				<pihub-checkbox
					[@checkboxFade]="getCheckboxAnimationState(row)"
					[checked]="isRowSelected(row.id)"
					(onClick)="onCheckboxClick(row.id)"
				/>
			</div>

			<section
				class="columns"
				(click)="onCheckboxClick(row.id)"
				(mouseenter)="onRowMouseEnter(row.id)"
				(mouseleave)="onRowMouseLeave()"
			>
				@for (column of getColumnsToDisplay(); track column.title) {
					<section>
						<ng-container
							*ngTemplateOutlet="
								column.template;
								context: {
									$implicit: row,
									selected: isRowSelected(row.id),
									hovered: row.id === hoveredId(),
								}
							"
						/>
					</section>
				}
			</section>
		</section>
	}
</main>
