@if (showHeader()) {
	<header>
		@if (maxSelection()! > 0) {
			<p></p>
		}

		@for (column of getColumnsToDisplay(); track column.title) {
			<p>{{ column.title() }}</p>
		}
	</header>
}

<main>
	@for (row of getRows(); track row.id) {
		<section class="row" [class.isSelected]="isRowSelected(row.id)">
			<div class="checkbox-wrapper" [@checkboxFade]="getCheckboxAnimationState(row)">
				<pihub-checkbox [checked]="isRowSelected(row.id)" (checkboxClicked)="onCheckboxClick(row.id)" />
			</div>

			<section
				class="columns"
				[style.grid-template-columns]="gridTemplateColumns()"
				(click)="onCheckboxClick(row.id)"
				(mouseenter)="onRowMouseEnter(row.id)"
				(mouseleave)="onRowMouseLeave()"
			>
				@for (column of getColumnsToDisplay(); track column.title) {
					<section>
						<ng-container
							*ngTemplateOutlet="
								column.template;
								context: {
									$implicit: row,
									selected: isRowSelected(row.id),
									hovered: row.id === hoveredId(),
								}
							"
						/>
					</section>
				}
			</section>
		</section>
	} @empty {
		<ng-container *ngTemplateOutlet="emptyTemplate()?.template ?? null"></ng-container>
	}
</main>
