:host {
	display: block;

	position: relative;

	> header {
		display: grid;
		grid-template-columns: 24px repeat(auto-fit, minmax(50px, 1fr));
		gap: 8px;

		width: 100%;
		border-radius: 8px 8px 0 0;

		background-color: #007bff;

		color: #fff;
		font-weight: bold;

		> p {
			width: min-content;
		}
	}

	> main {
		width: 100%;
		height: 100%;

		overflow: scroll;

		padding: 16px;

		&.extra-padding {
			padding-bottom: 56px;
		}

		> .row {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			gap: 8px;

			&.isSelected:first-child:has(+ .row.isSelected + .row:not(.isSelected)),
			&.isSelected:first-child:has(+ .row.isSelected:last-child),
			&:not(.isSelected) + .row.isSelected:has(+ .row.isSelected + .row:not(.isSelected)),
			&:not(.isSelected) + .row.isSelected:has(+ .row.isSelected:last-child),
			&:not(.isSelected) + .isSelected:has(+ .row.isSelected + .row.isSelected),
			&.isSelected:first-child:has(+ .row.isSelected + .row.isSelected),
			&.isSelected + .row.isSelected:has(+ .row.isSelected) {
				margin-bottom: 0;

				> .checkbox-wrapper {
					margin-bottom: 2px;
				}

				> .columns {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					padding-bottom: 2px;
				}
			}

			&.isSelected:first-child + .row.isSelected:has(+ .row:not(.isSelected)),
			&.isSelected:first-child + .row.isSelected:last-child,
			&:not(.isSelected) + .row.isSelected + .row.isSelected:has(+ .row:not(.isSelected)),
			&:not(.isSelected) + .row.isSelected + .row.isSelected:last-child,
			&.isSelected + .row.isSelected + .row.isSelected:has(+ .row:not(.isSelected)),
			&.isSelected + .row.isSelected + .row.isSelected:last-child,
			&.isSelected + .row.isSelected:has(+ .row.isSelected) {
				> .columns {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}

			&:not(:last-of-type) {
				margin-bottom: 2px;
			}

			&.isSelected > .columns {
				background-color: var(--color-container-selected);
			}

			&:not(.isSelected) > .columns:hover {
				background-color: var(--color-container-hover);
			}

			> .checkbox-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			> .columns {
				flex-grow: 1;
				height: min-content;

				display: grid;
				align-items: center;
				gap: 8px;
				padding: 0 15px;
				border-radius: 15px;

				transition:
					border-radius 0.2s ease,
					background-color 0.2s ease;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	> footer {
		position: absolute;
		bottom: 0;

		display: flex;
		align-items: center;

		overflow: hidden;

		height: 40px;
		width: 100%;

		padding: 0 20px;

		background-color: var(--color-background-primary);

		transition: 0.2s height ease;

		&:not(.visible)::before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 20px;
			background: linear-gradient(to top, white, transparent);
		}

		&.hidden {
			height: 0;
		}

		span {
			color: var(--color-primary-500);
		}

		> .actions {
			margin-left: auto;
			display: flex;
			gap: 4px;

			> pihub-icon {
				border-radius: 8px;

				padding: 4px;

				transition: all 0.2s ease;

				&:hover {
					&.danger {
						background-color: var(--color-error-800);
					}

					background-color: var(--color-container-selected);
				}
			}
		}
	}

	> .cta {
		position: absolute;

		bottom: 20px;
		right: 20px;

		transition: 0.2s bottom ease;

		&:hover {
			> pihub-icon {
				rotate: 45deg;
			}

			> .actions {
				opacity: 1;
				max-height: 200px;
			}
		}

		&.extra-padding {
			bottom: 50px;
		}

		> pihub-icon {
			padding: 9px;
			border-radius: 50%;

			background-color: var(--color-text-highlight);

			cursor: pointer;

			box-shadow:
				0px 0px 2px rgba(from var(--color-background-tertiary) r g b),
				0px 0px 6px rgba(from var(--color-background-tertiary) r g b),
				0px 0px 10px rgba(from var(--color-background-tertiary) r g b),
				0px 0px 14px rgba(from var(--color-background-tertiary) r g b);

			transition: 0.2s rotate ease;
		}

		> .actions {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			gap: 8px;

			max-height: 0;

			overflow: hidden;
			opacity: 0;

			padding: 8px 0;

			transition:
				0.2s max-height ease,
				0.2s opacity ease;

			> pihub-icon {
				background-color: white;

				border-radius: 50%;

				padding: 8px;

				cursor: pointer;

				box-shadow:
					0px 0px 2px rgba(from var(--color-background-tertiary) r g b),
					0px 0px 6px rgba(from var(--color-background-tertiary) r g b),
					0px 0px 10px rgba(from var(--color-background-tertiary) r g b);
			}
		}
	}
}
