:host {
	> header {
		background-color: #007bff;
		border-radius: 8px 8px 0 0;
		color: #fff;
		font-weight: bold;
		display: grid;
		grid-template-columns: 24px repeat(auto-fit, minmax(150px, 1fr));
		gap: 8px;

		> p {
			width: min-content;
		}
	}

	> main {
		> .row {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			gap: 8px;
			min-height: 40px;
			max-height: 42px;
			padding-left: 8px;

			&.isSelected:first-child:has(+ .row.isSelected + .row:not(.isSelected)),
			&.isSelected:first-child:has(+ .row.isSelected:last-child),
			&:not(.isSelected) + .row.isSelected:has(+ .row.isSelected + .row:not(.isSelected)),
			&:not(.isSelected) + .row.isSelected:has(+ .row.isSelected:last-child),
			&:not(.isSelected) + .isSelected:has(+ .row.isSelected + .row.isSelected),
			&.isSelected:first-child:has(+ .row.isSelected + .row.isSelected) {
				height: 41px;
				margin-bottom: 0;

				> .columns {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			&.isSelected:first-child + .row.isSelected:has(+ .row:not(.isSelected)),
			&.isSelected:first-child + .row.isSelected:last-child,
			&:not(.isSelected) + .row.isSelected + .row.isSelected:has(+ .row:not(.isSelected)),
			&:not(.isSelected) + .row.isSelected + .row.isSelected:last-child,
			&.isSelected + .row.isSelected + .row.isSelected:has(+ .row:not(.isSelected)),
			&.isSelected + .row.isSelected + .row.isSelected:last-child {
				height: 41px;

				> .columns {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}

			&.isSelected + .row.isSelected:has(+ .row.isSelected) {
				height: 42px;
				margin-bottom: 0;

				> .columns {
					border-radius: 0;
				}
			}

			&:not(:last-of-type) {
				margin-bottom: 2px;
			}

			&.isSelected > .columns {
				background-color: var(--color-container-selected);
			}

			&:not(.isSelected) > .columns:hover {
				background-color: var(--color-container-hover);
			}

			> pihub-checkbox {
				margin: 8px 0;
			}

			> .columns {
				flex-grow: 1;

				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
				gap: 8px;
				padding: 0 15px;
				border-radius: 15px;

				&:hover {
					cursor: pointer;
				}

				transition:
					border-radius 0.2s ease,
					background-color 0.2s ease;
			}
		}
	}
}
